body {
    background-image: url(../assets/moonbg.png);
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: end;
}

.left {
    display: flex;
    justify-content: start;
}

.active {
    background-color: cornflowerblue !important;
}

.hPadding {
    padding-top: 3%;
}

.rPadding {
    padding-top: 4%;
}

.whiteBorder {
    border: 1px solid white;
}

.leftPadding {
    padding-left: 10%;
}

.rightPadding {
    padding-right: 3%
}

.rightPadding2 {
    padding-right: 4%
}
