body {
    background-image: url(../assets/moonbg.png);
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: end;
}

.active {
    background-color: cornflowerblue !important;
}

.hPadding {
    padding-top: 3%
}

.rPadding {
    padding-top: 6%
}